<div class="codigo-form-container">
  <h2>Tareas</h2>

  <!-- Lista de tareas (con ngModel para enlazar con la variable de la clase) -->
  <div class="form-group">
    <label for="userSelect">Selecciona un Usuario</label>
    <select id="userSelect" class="texto-em" [(ngModel)]="selectedUser">
      <option *ngFor="let user of users" [value]="user">{{ user }}</option>
    </select>
  </div>

  <div class="button-group">
    <button class="btn-primary" (click)="getTasks(selectedUser)">Ver Tareas</button>
  </div>

  <div *ngIf="tasks?.length">
    <h3>Tareas de {{ selectedUser }}</h3>
    <ul>
      <li *ngFor="let task of tasks">{{ task }}</li>
    </ul>
  </div>
</div>
