<div class="codigo-form-container">
  <div class="form-group">
    <label for="selectUser">Seleccionar Usuario:</label>
    <select id="selectUser" [(ngModel)]="selectedUser" class="texto-em">
      <option *ngFor="let user of users" [value]="user">{{ user }}</option>
    </select>
  </div>

  <div *ngIf="selectedUser">
    <button class="btn-primary" (click)="getTasks(selectedUser)">
      Ver tareas de {{ selectedUser }}
    </button>
  </div>

  <div *ngIf="tasks.length > 0">
    <h3>Tareas de {{ selectedUser }}:</h3>
    <ul>
     <li><button id="add-task">Agregar Tarea</button></li>
      <li *ngFor="let task of tasks; let i = index">
        {{ task }}
        <button class="btn-delete" (click)="deleteTask(i)">&#10006;</button>
      </li>
    </ul>
  </div>
</div>
