<div class="codigo-form-container">
  <h2>Bienvenido al juego</h2>
  <!-- Contenido del juego aquí -->
  <form (ngSubmit)="onSubmit()">
   <div class="form-group">
    <label for="playerName">Tu nombre:</label>
    <input type="text" id="playerName" [(ngModel)]="playerName" name="playerName" class="texto-em" required />
   
   
  <label for=password>Contraseña</label>
  <input type="password" name="password" [(ngModel)]="password"  class="texto-em">
   
  </div>
 <div class="button-group">
  <button type="submit" class="btn-primary">Enviar</button>
  <button type="button" class="btn-secondary btn-registrar" (click)="registrar()">Registrar</button>
 </div>
  </form>
</div>
